
.my_portfolio {
    background-color: $green-color;
}
.my_portfolio h2 {
    color: white;
}
.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5em;
}

.portfolio .item {
    width: 30%;
    background-color: white;
    margin: 0.5em;
    padding: 0.4em;
    display: flex;
    flex-direction: column;
}
.portfolio .item.major {
    background-color: black;
}

.portfolio .photo {
    height: 6em;
    background-color: #ebebeb;
    margin-bottom: 0.4em;
}
.portfolio .description {
    background-color: #ebebeb;
    text-align: center;
    padding: 0.5em 1em;
}
.portfolio .tech_stack {
    background-color: #ebebeb;
    font-weight: 700;
    padding-left: 0.5em;
}