@import 'variables';
@import 'header';
@import 'my-skills';
@import 'my-portfolio';
@import 'contact-me';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 3.5em;
    text-align: center;
}

.introduction {
    height: 400px;
    background-image: url("/img/bg.jpg");
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction p {
    margin: 0;
}

.intro_main {
    font-size: 3.5em;
}

.intro_main span {
    color: #54be90;
    font-weight: 700;
    border-bottom: 0.15em solid white;
    position: relative;
    bottom: 0.2em;
}

.intro_second {
    font-size: 3em;
}

.intro_text {
    background-color: #ebebeb;
    font-size: 1.5em;
    color: #444444;
}
.intro_text p {
    margin: 3.5em auto;
    text-align: center;
    width: 70%;
    color: #444444;
}

.what_is_proposed {
    display: flex;
    justify-content: space-evenly;
    background-color: #232323;
    text-align: center;
}

.item_proposed {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
}

.round_grey {
    width: 7em;
    height: 7em;
    background-color: #ebebeb;
    border-radius: 50%;
    position: relative;
    bottom: 3.5em;
}
.item_proposed .title {
    font-size: 1.5em;
    color: $green-color;
    font-weight: 900;
}

.item_proposed .text {
    color:#ebebeb;
    margin: 1em auto;
}

.button {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
}
.button a {
    width: 80%;
    text-align: center;
    background-color: $green-color;
    color: white;
    text-decoration: none;
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em #444444;
}

.about_me {
    background-color: #ebebeb;
    padding-bottom: 5em;
}
.main_about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_about .photo {
    width: 20em;
    height: 20em;
    background-image: url(/img/pit-bull.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 10%;

}
.main_about .right_container {
    width: 40%;
    color :#444444;
}

.main_about span {
    border-bottom: 0.3em solid #54be90;
}

.get_in_touch {
    font-size: 1.5em;
    font-weight: 700;
}

.main_about .button {
    justify-content: flex-start;
}
.main_about .button a {
    width: 50%;
}

.find_me_here {
    background-color: #232323;
    color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.find_me_here h3 {
    font-size: 2em;
    margin-top: 2em;
}

.logos {
    display: flex;
}

.logos .item {
    margin: 3em;
}
.logos .item img{
    width: 5em;
}


footer {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
}

.greetings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greetings .bar {
    width: 20vw;
    height: 0.5em;
    background-color: $green-color;
}

.greetings .text {
    font-size: 3em;
    font-weight: 900;
    margin: 0.4em;
}

footer .logos .item {
    margin: 1em;
}
footer .logos .item img{
    width: 3em;
}